<div class="bg-purple-900 absolute top-0 left-0 bg-gradient-to-b from-gray-900 via-gray-900 to-purple-800 bottom-0 h-full w-full overflow-hidden"></div>

<div class="relative min-h-screen sm:flex sm:flex-row justify-center bg-transparent rounded-3xl shadow-xl">
  <div class="flex-col flex self-center lg:px-14 sm:max-w-4xl xl:max-w-md z-10">
    <div class="self-start hidden lg:flex flex-col text-gray-300">
      <h1 class="my-3 font-semibold text-4xl">Bienvenido de nuevo</h1>
      <p class="pr-3 text-sm opacity-75">Esta es tu plataforma para registrar tus materias y gestionar tu horario académico. ¡Comienza tu semestre de la mejor manera!</p>
    </div>
  </div>

  <div class="flex justify-center self-center z-10">
    <div class="p-12 bg-white mx-auto rounded-3xl w-96">
      <div class="mb-7">
        <h3 class="font-semibold text-2xl text-gray-800">Ingresar</h3>
      </div>

      <div class="space-y-6">
        <div>
          <input [(ngModel)]="username" class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" type="email" placeholder="Email">
        </div>

        <div class="relative">
          <input id="password" [(ngModel)]="password" placeholder="Password" type="password" class="text-sm text-gray-800 px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-purple-400">
          <div class="absolute inset-y-0 right-0 flex items-center mr-3 text-sm leading-5">
          
          </div>
        </div>
        <div>
          <button (click)="login()" type="submit" class="w-full flex justify-center bg-purple-800 hover:bg-purple-700 text-gray-100 p-3 rounded-lg font-semibold cursor-pointer transition ease-in duration-500">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePassword() {
    const passwordInput = document.getElementById('password');
    passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
  }
</script>

