<div class="bg-purple-900 absolute top-0 left-0 bg-gradient-to-b from-gray-900 via-gray-900 to-purple-800 bottom-0 h-full w-full overflow-hidden"></div>

<div class="relative min-h-screen sm:flex sm:flex-row justify-center bg-transparent rounded-3xl shadow-xl">
  <div class="flex-col flex self-center lg:px-14 sm:max-w-4xl xl:max-w-md z-10">
    <div class="self-start hidden lg:flex flex-col text-gray-300">
      <h1 class="my-3 font-semibold text-4xl">Welcome back</h1>
      <p class="pr-3 text-sm opacity-75">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    </div>
  </div>

  <div class="flex justify-center self-center z-10">
    <div class="p-12 bg-white mx-auto rounded-3xl w-96">
      <div class="mb-7">
        <h3 class="font-semibold text-2xl text-gray-800">Sign In</h3>
        <p class="text-gray-400">Don't have an account? <a href="#" class="text-sm text-purple-700 hover:text-purple-700">Sign Up</a></p>
      </div>

      <div class="space-y-6">
        <div>
          <input  [(ngModel)]="username" class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" type="email" placeholder="Email">
        </div>

        <div class="relative">
          <input [(ngModel)]="password" placeholder="Password" type="password" class="text-sm text-gray-800 px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-purple-400">
          <div class="absolute inset-y-0 right-0 flex items-center mr-3 text-sm leading-5">
            <svg class="h-4 text-purple-700 cursor-pointer" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" onclick="togglePassword()">
              <path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path>
            </svg>
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="text-sm ml-auto">
            <a href="#" class="text-purple-700 hover:text-purple-600">Forgot your password?</a>
          </div>
        </div>

        <div>
          <button (click)="login()" type="submit" class="w-full flex justify-center bg-purple-800 hover:bg-purple-700 text-gray-100 p-3 rounded-lg font-semibold cursor-pointer transition ease-in duration-500">Sign in</button>
        </div>

        <div class="flex items-center justify-center space-x-2 my-5">
          <span class="h-px w-16 bg-gray-100"></span>
          <span class="text-gray-300 font-normal">or</span>
          <span class="h-px w-16 bg-gray-100"></span>
        </div>

        <div class="flex justify-center gap-5 w-full">
          <button type="button" class="w-full flex items-center justify-center mb-6 border border-gray-300 hover:border-gray-900 hover:bg-gray-900 text-sm text-gray-500 p-3 rounded-lg font-medium cursor-pointer transition ease-in duration-500">
            <svg class="w-4 mr-2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="#EA4335" d="M5.266 9.765A7.077 7.077 0 0 1 12 4.909c1.69 0 3.218.6 4.418 1.582L19.91 3C17.782 1.145 15.055 0 12 0 7.27 0 3.198 2.698 1.24 6.65l4.026 3.115Z" /><path fill="#34A853" d="M16.04 18.013c-1.09.703-2.474 1.078-4.04 1.078a7.077 7.077 0 0 1-6.723-4.823l-4.04 3.067A11.965 11.965 0 0 0 12 24c2.933 0 5.735-1.043 7.834-3l-3.793-2.987Z" /><path fill="#4A90E2" d="M19.834 21c2.195-2.048 3.62-5.096 3.62-9 0-.71-.109-1.473-.272-2.182H12v4.637h6.436c-.317 1.559-1.17 2.766-2.395 3.558L19.834 21Z" /><path fill="#FBBC05" d="M5.277 14.268A7.12 7.12 0 0 1 4.909 12c0-.782.125-1.533.357-2.235L1.24 6.65A11.934 11.934 0 0 0 0 12c0 1.92.445 3.73 1.237 5.335l4.04-3.067Z" /></svg>
            <span>Google</span>
          </button>

          <button type="button" class="w-full flex items-center justify-center mb-6 border border-gray-300 hover:border-gray-900 hover:bg-gray-900 text-sm text-gray-500 p-3 rounded-lg font-medium cursor-pointer transition ease-in duration-500">
            <svg class="w-4 mr-2" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <path d="M50 2.5c-58.892 1.725-64.898 84.363-7.46 95h14.92c57.451-10.647 51.419-93.281-7.46-95z" fill="#1877f2" />
              <path d="M57.46 64.104h11.125l2.117-13.814H57.46v-8.965c0-3.779 1.85-7.463 7.781-7.463h6.021V22.101c-12.894-2.323-28.385-1.616-28.722 17.66V50.29H30.417v13.814H42.54V97.5h14.92V64.104z" fill="#fff" />
            </svg>
            <span>Facebook</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePassword() {
    const passwordInput = document.querySelector('[type="password"]');
    passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
  }
</script>
