
USE [master]
GO
/****** Object:  Database [registroestudiantes]    Script Date: 27/02/2025 4:57:48 p. m. ******/
CREATE DATABASE [registroestudiantes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'registroestudiantes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\registroestudiantes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'registroestudiantes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\registroestudiantes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [registroestudiantes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [registroestudiantes]
GO
/****** Object:  User [cfcp]    Script Date: 27/02/2025 4:57:49 p. m. ******/
CREATE USER [cfcp] FOR LOGIN [cfcp] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Cases]    Script Date: 27/02/2025 4:57:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cases](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[problem] [nvarchar](max) NOT NULL,
	[appliedSolution] [nvarchar](max) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaseSolutions]    Script Date: 27/02/2025 4:57:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseSolutions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[caseId] [int] NOT NULL,
	[solution] [nvarchar](max) NOT NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clases]    Script Date: 27/02/2025 4:57:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clases](
	[ClaseId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK__clases__F5429553A74B3701] PRIMARY KEY CLUSTERED 
(
	[ClaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clasesestudiantes]    Script Date: 27/02/2025 4:57:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clasesestudiantes](
	[ClaseEstudianteId] [int] IDENTITY(1,1) NOT NULL,
	[ClaseId] [int] NOT NULL,
	[EstudianteId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaseEstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 27/02/2025 4:57:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[LastMessage] [nvarchar](max) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiantes]    Script Date: 27/02/2025 4:57:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantes](
	[EstudianteId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiantesmaterias]    Script Date: 27/02/2025 4:57:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantesmaterias](
	[EstudianteMateriaId] [int] IDENTITY(1,1) NOT NULL,
	[EstudianteId] [int] NOT NULL,
	[MateriaId] [varchar](50) NOT NULL,
 CONSTRAINT [PK__estudian__82F480FDFA2F508E] PRIMARY KEY CLUSTERED 
(
	[EstudianteMateriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materias]    Script Date: 27/02/2025 4:57:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materias](
	[MateriaId] [varchar](50) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Creditos] [int] NOT NULL,
 CONSTRAINT [PK__materias__0D019DE14DA615E8] PRIMARY KEY CLUSTERED 
(
	[MateriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 27/02/2025 4:57:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContactId] [int] NOT NULL,
	[Sender] [nvarchar](255) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesores]    Script Date: 27/02/2025 4:57:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesores](
	[ProfesorId] [varchar](50) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__profesor__4DF3F0C80A9DAF7D] PRIMARY KEY CLUSTERED 
(
	[ProfesorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 27/02/2025 4:57:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK__users__3213E83F6C732654] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cases] ON 

INSERT [dbo].[Cases] ([id], [title], [problem], [appliedSolution], [Activo]) VALUES (1, N'Error en la facturación', N'El cliente no puede generar una factura desde el sistema.', N' ', 1)
INSERT [dbo].[Cases] ([id], [title], [problem], [appliedSolution], [Activo]) VALUES (2, N'Problema con la impresión', N'La impresora no responde al enviar un documento.', N' ', 1)
SET IDENTITY_INSERT [dbo].[Cases] OFF
GO
SET IDENTITY_INSERT [dbo].[CaseSolutions] ON 

INSERT [dbo].[CaseSolutions] ([id], [caseId], [solution], [status]) VALUES (1, 1, N'Revisar conexión a la base de datos.', N'')
INSERT [dbo].[CaseSolutions] ([id], [caseId], [solution], [status]) VALUES (2, 1, N'Verificar permisos del usuario.', N'')
INSERT [dbo].[CaseSolutions] ([id], [caseId], [solution], [status]) VALUES (3, 1, N'Actualizar la versión del sistema.', N'')
SET IDENTITY_INSERT [dbo].[CaseSolutions] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [Name], [LastMessage], [Activo]) VALUES (1, N'Juan Pérez', N'dos', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [LastMessage], [Activo]) VALUES (2, N'Ana Gómez', N'dos', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [LastMessage], [Activo]) VALUES (3, N'Carlos Ramírez', N'preueba mensaje', 1)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [ContactId], [Sender], [Text], [Timestamp], [Activo]) VALUES (1, 1, N'Juan Pérez', N'Hola, ¿cómo estás?', CAST(N'2024-02-27T10:00:00.000' AS DateTime), 1)
INSERT [dbo].[Messages] ([Id], [ContactId], [Sender], [Text], [Timestamp], [Activo]) VALUES (2, 1, N'Tú', N'¡Bien! ¿Y tú?', CAST(N'2024-02-27T10:02:00.000' AS DateTime), 1)
INSERT [dbo].[Messages] ([Id], [ContactId], [Sender], [Text], [Timestamp], [Activo]) VALUES (3, 2, N'Ana Gómez', N'¿Me puedes ayudar con esto?', CAST(N'2024-02-27T11:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [UserId], [Username], [Password]) VALUES (2, 1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ__claseses__63B5FD7FBF138EDD]    Script Date: 27/02/2025 4:57:49 p. m. ******/
ALTER TABLE [dbo].[clasesestudiantes] ADD UNIQUE NONCLUSTERED 
(
	[ClaseId] ASC,
	[EstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__estudian__A9D1053454868744]    Script Date: 27/02/2025 4:57:49 p. m. ******/
ALTER TABLE [dbo].[estudiantes] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__estudian__6FA69B07C4D93731]    Script Date: 27/02/2025 4:57:49 p. m. ******/
ALTER TABLE [dbo].[estudiantesmaterias] ADD  CONSTRAINT [UQ__estudian__6FA69B07C4D93731] UNIQUE NONCLUSTERED 
(
	[EstudianteId] ASC,
	[MateriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__profesor__A9D10534114C9C67]    Script Date: 27/02/2025 4:57:49 p. m. ******/
ALTER TABLE [dbo].[profesores] ADD  CONSTRAINT [UQ__profesor__A9D10534114C9C67] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__A9D105340979EED9]    Script Date: 27/02/2025 4:57:49 p. m. ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ__users__A9D105340979EED9] UNIQUE NONCLUSTERED 
(
	[Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[estudiantes] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[materias] ADD  CONSTRAINT [DF__materias__Credit__37A5467C]  DEFAULT ((3)) FOR [Creditos]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[CaseSolutions]  WITH CHECK ADD FOREIGN KEY([caseId])
REFERENCES [dbo].[Cases] ([id])
GO
ALTER TABLE [dbo].[clases]  WITH CHECK ADD  CONSTRAINT [fk_clases_materias] FOREIGN KEY([Username])
REFERENCES [dbo].[materias] ([MateriaId])
GO
ALTER TABLE [dbo].[clases] CHECK CONSTRAINT [fk_clases_materias]
GO
ALTER TABLE [dbo].[clases]  WITH CHECK ADD  CONSTRAINT [fk_clases_profesores] FOREIGN KEY([Password])
REFERENCES [dbo].[profesores] ([ProfesorId])
GO
ALTER TABLE [dbo].[clases] CHECK CONSTRAINT [fk_clases_profesores]
GO
ALTER TABLE [dbo].[clasesestudiantes]  WITH CHECK ADD  CONSTRAINT [fk_clasesestudiantes_clase] FOREIGN KEY([ClaseId])
REFERENCES [dbo].[clases] ([ClaseId])
GO
ALTER TABLE [dbo].[clasesestudiantes] CHECK CONSTRAINT [fk_clasesestudiantes_clase]
GO
ALTER TABLE [dbo].[clasesestudiantes]  WITH CHECK ADD  CONSTRAINT [fk_clasesestudiantes_estudiante] FOREIGN KEY([EstudianteId])
REFERENCES [dbo].[estudiantes] ([EstudianteId])
GO
ALTER TABLE [dbo].[clasesestudiantes] CHECK CONSTRAINT [fk_clasesestudiantes_estudiante]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [fk_user_id] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [fk_user_id]
GO
ALTER TABLE [dbo].[estudiantesmaterias]  WITH CHECK ADD  CONSTRAINT [fk_estudiantesmaterias_estudiante] FOREIGN KEY([EstudianteId])
REFERENCES [dbo].[estudiantes] ([EstudianteId])
GO
ALTER TABLE [dbo].[estudiantesmaterias] CHECK CONSTRAINT [fk_estudiantesmaterias_estudiante]
GO
ALTER TABLE [dbo].[estudiantesmaterias]  WITH CHECK ADD  CONSTRAINT [fk_estudiantesmaterias_materia] FOREIGN KEY([MateriaId])
REFERENCES [dbo].[materias] ([MateriaId])
GO
ALTER TABLE [dbo].[estudiantesmaterias] CHECK CONSTRAINT [fk_estudiantesmaterias_materia]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([ContactId])
REFERENCES [dbo].[Contacts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[materias]  WITH CHECK ADD  CONSTRAINT [CK__materias__Credit__38996AB5] CHECK  (([Creditos]=(3)))
GO
ALTER TABLE [dbo].[materias] CHECK CONSTRAINT [CK__materias__Credit__38996AB5]
GO
USE [master]
GO
