.materias-container {
  padding: 20px;
}

  .materias-container ul {
    list-style-type: none;
    padding: 0;
  }

  .materias-container li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  .materias-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

    .materias-container button:hover {
      background-color: #0056b3;
    }
